@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    box-sizing: border-box;
}

button {
    font-family: 'Lora', serif;
}

body {
    font-family: 'Lora', serif;
    background: linear-gradient(to bottom, rgb(241, 218, 187), rgb(236, 178, 124));
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0px;
}

footer {
    background-color: rgb(255, 255, 255);
    margin: 0;
    height: 50px;
    text-align: center;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    font-size: large;
    background-color: white;
}

label {
    margin-bottom: 4px;
    font-weight: bold;
}

h1 {
    color: rgb(44, 44, 44);
    text-align: center;
}

.book-table {
    margin: 20px auto;
    border: 1px solid rgb(51, 51, 51);
    border-collapse: collapse;
    width: 700px;
    text-align: left;
}

.book-table th,
.book-table td {
    border: 1px solid rgb(51, 51, 51);
    padding: 8px 12px;
}

.book-table tbody {
    background-color: white;
}

.book-table thead {
    background-color: wheat;
}

.book-form {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center; 
    align-items: center;
}

.form-field {
    margin: 8px;
}

.form-field input {
    width: 300px;
    height: 20px;
}

.search-form {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center; 
    align-items: center;
}

.edit-book {
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center; 
    align-items: center;
}
.edit-book-form {
    text-align: center;
}

.book-field-selector {
    text-align: center;
}

.option {
    margin: 30px;
}

.page-title {
    background: radial-gradient(rgb(235, 193, 154), rgb(238, 213, 189));
    color: rgb(44, 44, 44);
    text-align: center;
    margin: 0;
}

.nav-button {
    border: 0px;
    min-height: 32px;
    min-width: 64px;
    font-size: 16px;
    font-family: 'Lora', serif;
    font-weight: 500;
    background-color: white;
}

.nav-button:hover {
    background-color: rgb(236, 178, 124);
    color: white;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    form {
        width: 100%;
    }

    .book-table {
        width: 100%;
    }
}